<!DOCTYPE html>
<html lang="en">
  <head>
      <title>SELLX &mdash; Buy and Sell anything</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
      <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">
  
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
  
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}">
  
      <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}">
  
      <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/rangeslider.css') }}">
  
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      {% import "bootstrap/wtf.html" as wtf %}
      
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    
    <header class="site-navbar container py-0 bg-white" role="banner">

        <!-- <div class="container"> -->
          <div class="row align-items-center">
            
            <div class="col-6 col-xl-2">
              <h1 class="mb-0 site-logo"><a href="{{url_for('index')}}" class="text-black mb-0">SELL<span class="text-primary">X</span>  </a></h1>
            </div>
            <div class="col-12 col-md-10 d-none d-xl-block">
              <nav class="site-navigation position-relative text-right" role="navigation">
  
                <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                  <li><a href="{{url_for('profile')}}">Home</a></li>
                  <li class="active"><a href="{{url_for('listi',postid=6)}}">Ads</a></li>
                  <li><a href="{{ url_for('about') }}">About</a></li>
                  {% if current_user.is_authenticated %}
                  <li><a href="{{ url_for('logout') }}">Logout</a></li>
                  {% else %}
                  <li><a href="{{ url_for('login') }}">Login</a></li>
                  <li><a href="{{ url_for('signup') }}">Register</a></li>
                  {% endif %}
                  <li><a href="{{ url_for('new') }}" class="cta"><span class="bg-primary text-white rounded">+ Post an Ad</span></a></li>
                </ul>
              </nav>
            </div>
  
  
            <div class="d-inline-block d-xl-none ml-auto py-3 col-6 text-right" style="position: relative; top: 3px;">
              <a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
            </div>
  
          </div>
        <!-- </div> -->
        
      </header>
  
  
    
    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url({{ url_for('static', filename = 'hero_1.jpg') }})" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
            
            
            <div class="row justify-content-center mt-5">
              <div class="col-md-8 text-center">
                <h1>{{ Post_data.sub_tag }}</h1>
                <p class="mb-0">{{ Post_data.loc }}</p>
              </div>
            </div>

            
          </div>
        </div>
      </div>
    </div>  

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            
            <div class="mb-4">
              <!--<div class="slide-one-item home-slider owl-carousel">
                <div><img src="images/img_1.jpg" alt="Image" class="img-fluid"></div>
              </div>-->
              <div><img src="{{ url_for('static',filename = Post_data.img) }}" alt="Image" class="img-fluid"></div>
            </div>
            <h4 class="h5 mb-4 text-black">Description</h4>
            <p>{{ Post_data.description }}</p>
            <div class="collapse" id="collapseExample">
            <form action="{{ url_for('singlelist', postid = Post_data.id) }}" method="post" >
            {{ eform.hidden_tag() }}
            <p>{{ eform.description(class='form-control', placeholder="Enter new description") }}</p>
      
            </div>  
            <h4 class="h5 mb-4 text-black">Price</h4>
            <p>{{ Post_data.price }}</p>
            <div class="collapse" id="collapseExample">
     
            <p>{{ eform.price(class='form-control', placeholder="Enter new price") }}</p>
                <div class="col-md-12">
                    {{ eform.submit(class="btn btn-primary py-2 px-4 text-white") }}
                  </div>
                
                {{ dform.hidden_tag() }}
                  <div class="col-md-12">
                    {{ dform.submit(class="btn btn-primary py-2 px-4 text-white") }}
                  </div>          
              </form>
              </div>
          </div>
          <div class="col-lg-3 ml-auto">

            <div class="mb-5">
              <h3 class="h5 text-black mb-3">Search</h3>
              <form action="#" method="post">
                {{ form.hidden_tag() }}
                <div class="input-group mb-3">
                    {{ form.search(class='form-control', placeholder="Search Products...")}}
                  <div class="input-group-append">
                      {{ form.submit(class="btn btn-primary py-2 px-4 text-white") }}
                  </div>
                </div>
                </div>
              </form>
              {% if Post_data.user_id==current_user.id %}
              {% if Post_data.status=='Available' %}
              <form action="" method="post" >
                <div class="form-group" action="">
                    <div class="col-md-12">
                        <input value="Edit" class="btn btn-primary py-2 px-4 text-white" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample">
                      </div>               
                  </div>
              </form>
              {% endif %}
              {% endif %}
              {% if Post_data.user_id!=current_user.id %}
              {% if Post_data.status=='Available' %}
              <form action="{{ url_for('payment', pid = Post_data.id) }}" method="post" >
                <div class="form-group" action="{{ url_for('payment', pid = Post_data.id) }}">
                    <div class="col-md-12">
                        <input type="submit" value="Order Now!" class="btn btn-primary py-2 px-4 text-white">
                      </div>               
                  </div>
                </div>
              </form>
              {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-6">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>SELLX is where the world goes to shop, sell, and give! </p>
              </div>
              
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Navigations</h2>
                <ul class="list-unstyled">
                  <li><a href="{{ url_for('about') }}">About Us</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >SELLX</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>
  </div>

  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-migrate-3.0.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='js/rangeslider.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
  </body>
</html>